# admin/source/

/.quarto/

**/*.quarto_ipynb

# Ignore all HTML files everywhere
*.html
# But keep HTML files inside _site/
!_site/**/*.html

# Virtual environment and Python version
.venv/
.python-version
main.py
pyproject.toml
uv.lock

# Machine specifics
.idea/

# Claude Code
CLAUDE.md
